{% extends 'ecom/core/homebase.html' %}
{% load static %}
{% block content %}
<br><br><br>

<style>
    .message-box {
        width: 300px; /* Độ rộng của khung */
        margin: 0 auto; /* Căn giữa khung trên màn hình */
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;
        border: 2px solid #009900;
        color: #009900;
    }
</style>
<div class="message-box">
    Đã đăng xuất tài khoản thành công
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>


{% endblock content %}
